.add-container {
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-address-wrapper {
    width: 50%;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.title-page {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    padding: 10px 30px;

    @media screen and (max-width: 767px) {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .add-address-wrapper {
        width: 80%;
    }

    .add-container {
        height: 100vh;
    }
}